@keyframes openingAnimation {
    0%{
        width: 0;
    }

    100%{
        width: 100
    }
}







#main-body-main{
    border: 1px solid black;
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    padding-left:5%;
    padding-right: 5%;
}

.bio-main{
    /* transition: all 0.7s ease; */
    animation: openingAnimation 1.5s ease;
    border-right: 1px solid black;
    width: 65%;
    display: flex;
    flex-direction: column;
}