#about-me-main{
    /* border: 1px solid black; */
    width: 100%;
    height: 35%;
}

.about-me-header{
    border: 1px solid black;
    background-color: white;
    max-width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
}

.about-me-header h2{
    margin: 0;
}