#projects-section-main{
    /* border: 1px solid red; */
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
}


@keyframes fadeIn{
    0%{
        opacity: 0%;
        width: 0%;
    }

    100%{
        opacity: 100%;
        width: 100%;
    }
}

#project-card{
    border: 1px solid black;
    height: 40%;
    animation: fadeIn 1.5s ease;
    /* animation-delay: 0.5s; */
}

.project-card-header{
    background-color: white;
}