@keyframes fadeIn{
    0%{
        opacity: 0%;
        width: 0%;
    }

    100%{
        opacity: 100%;
        width: 100%;
    }
}


#project-tab-open{
    visibility: hidden;
}

#project-tab-open.done{
    animation: fadeIn 1s ease;
    visibility: visible;
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
}





#projects-section-main{
    /* border: 1px solid red; */
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    /* align-items: center; */
    padding-left: 1%;
    padding-right: 1%;
    transition: all 1s ease;
}

#projects-section-main.done{
    /* animation: fadeIn 1s ease; */
    width: 35%;
    height: 100%;
}

#project-card{
    visibility: hidden;
}

.project-card-section{
    visibility: hidden;
}

.project-card-section-done{
    visibility: visible;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
}


#project-card.done{
    visibility: visible;
    border: 1px solid black;
    height: 30vh;
    width: 100%;
    animation: fadeIn 1s ease;
}

.project-card-header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 2% 1% 2% 1%;
}