/* 
============== font stuff


*/

@keyframes headerH1blink {
    0%, 25%, 50%, 75%, 100% {
        opacity: 1;
    }
    30%, 40%, 60%, 70%, 90% {
        opacity: 0;
    }
}





#header-main{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: whitesmoke;
    height: 15%;
}

.header-main-header{
    animation: headerH1blink 0.7s 
}


.nav-links-container{
    border: 1px solid black;
    width: 30%;
    height: 100%;
}


.nav-link{
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.nav-link img{
    max-height: 50px;
}