/* 
============== font stuff


*/

@keyframes headerH1blink {
    0%, 25%, 50%, 75%, 100% {
        opacity: 1;
    }
    30%, 40%, 60%, 70%, 90% {
        opacity: 0;
    }
}





#header-main{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    background-color: whitesmoke;
}

.header-main-header{
    animation: headerH1blink 0.7s 
}